{% extends "bootstrap/base.html" %}
{% block title %}Movie Search{% endblock %}
{%- block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{%- endblock styles %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='images/logo.png')}}" width="110" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            {% if session.username %}
                <li class="nav-item active">
                    <a class="nav-link" href="/collection">Collection<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Deconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/register">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Connexion</a>
                </li>
            {% endif %}
        </ul>
        </div>
    </nav>
    <div class="container">
        <h3>Ma collection</h3>
        <div id="grid">
            <div>
            {{ id_movie }}
            {{ title }}
            <img src="https://image.tmdb.org/t/p/w500{{image}}" alt="" width="30%"></div>
        </div>
    </div>

    <style>

        #grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    </style>
{% endblock %}