{% extends "bootstrap/base.html" %}
{% block title %}Accueil{% endblock %}
{%- block styles %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../../static/styles/index.css" rel="stylesheet" type="text/css" />
    <link href="../../static/styles/navbar.css" rel="stylesheet" type="text/css" />
    <link href="../../static/styles/accueil.css" rel="stylesheet" type="text/css" />
{%- endblock styles %}

{% block body %}
    <header class="header__main">
        <div class="header__logo">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo">
        </div>

        <div class="nav-list-container">
            <nav class="header__nav">
                <ul class="nav__list">

                    <form action="movie_search" method="POST" class="form-inline">
                        <input name="movie_title" class="form-control mr-sm-2" type="search" placeholder="Nom du film" aria-label="Search">
                        <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" type="submit">Rechercher</button>
                    </form>

                    <li class="nav__item"><a href="/">Accueil</a></li>
                    {% if session.username %}
                    <li class="nav__item"><a href="/collection">Collection</a></li>
                    <li class="nav__item"><a href="/profile">Profil</a></li>
                    <li class="nav__item"><a href="/logout">Deconnexion</a></li>
                    {% else %}
                    <li class="nav__item"><a href="/register">Inscription</a></li>
                    <li class="nav__item"><a href="/login">Connexion</a></li>
                    {% endif %}   
                </ul>
            </nav>
        </div>
    </header>
    <div class="container mt-5 ">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="img/ad.png" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="img/ad2.png" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="img/ad.png" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Precedent</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Suivant</span>
            </a>
          </div>


    </div>

    
    <br>
    <br>
    <br>
    <div class="contenu">
        <h2> Films à l'affiche </h2><br>
        
        <div class="all">
            {% for now in now_playing %}
            <div class="images">
                
                <a href="/movie/{{now.id}}">
                <div class="categ">
                    <img src="https://image.tmdb.org/t/p/w500{{now.poster_path}}" alt="">
                    <div class="text">
                        <p>{{ now.title }}</p>
                    </div>
                </div>
                </a>  
                
            </div>
            {% endfor %}
        </div>
        <br><br>
        <h2> Les mieux notés </h2><br>
        
        <div class="all">
            {% for top in tops %}
            <div class="images">
                
                <a href="/movie/{{top.id}}">
                <div class="categ">
                    <img src="https://image.tmdb.org/t/p/w500{{top.poster_path}}" alt="">
                    <div class="text">
                        <p>{{ top.title }}</p>
                    </div>
                </div>
                </a>  
                
            </div>
            {% endfor %}
        </div>

        <br><br>
        <h2> Les plus populaires </h2><br>
        
        <div class="all">
            {% for popular in populars %}
            <div class="images">
                
                <a href="/movie/{{popular.id}}">
                <div class="categ">
                    <img src="https://image.tmdb.org/t/p/w500{{popular.poster_path}}" alt="">
                    <div class="text">
                        <p>{{ popular.title }}</p>
                    </div>
                </div>
                </a>  
                
            </div>
            {% endfor %}
        </div>

        <br><br>
        <h2> Prochaines sorties </h2><br>
        
        <div class="all">
            {% for upcoming in upcomings %}
                {% if upcoming.poster_path.strip %}
                <div class="images">
                    
                    <a href="/movie/{{upcoming.id}}">
                    <div class="categ">
                        <img src="https://image.tmdb.org/t/p/w500{{upcoming.poster_path}}" alt="">
                        <div class="text">
                            <p>{{ upcoming.title }}</p>
                        </div>
                    </div>
                    </a>  
                    
                </div>
                {% endif %}
            {% endfor %}
        </div>
    

    <h3> Catégories </h3>

    <div class="grid-genres">
        {% for genre in genres %}
        <ul>
            <li>{{ genre.name }}</li>
        </ul>
        {% endfor %}
    </div>

    </div>


{% endblock %}

