{% extends "bootstrap/base.html" %}
{% block title %}Accueil{% endblock %}
{%- block styles %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../../static/styles/index.css" rel="stylesheet" type="text/css" />
    <link href="../../static/styles/navbar.css" rel="stylesheet" type="text/css" />
{%- endblock styles %}

{% block body %}
    <header class="header__main">
        <div class="header__logo">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo">
        </div>

        <div class="nav-list-container">
            <nav class="header__nav">
                <ul class="nav__list">

                    <form action="movie_search" method="POST" class="form-inline">
                        <input name="movie_title" class="form-control mr-sm-2" type="search" placeholder="Nom du film" aria-label="Search">
                        <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" type="submit">Rechercher</button>
                    </form>

                    <li class="nav__item"><a href="/">Accueil</a></li>
                    {% if session.username %}
                    <li class="nav__item"><a href="/collection">Collection</a></li>
                    <li class="nav__item"><a href="/profile">Profil</a></li>
                    <li class="nav__item"><a href="/logout">Deconnexion</a></li>
                    {% else %}
                    <li class="nav__item"><a href="/register">Inscription</a></li>
                    <li class="nav__item"><a href="/login">Connexion</a></li>
                    {% endif %}   
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1>{{ titre }} </h1>
        <form action="movie_search" method="POST">
            <input type="text" name="movie_title" placeholder="Rechercher un film" id="">
            <button type="submit">Valider</button>
        </form>
        <h3>Genres de films :</h3>
        <div class="grid-genres">
            {% for genre in genres %}
            <ul>
                <li>{{ genre.name }}</li>
            </ul>
            {% endfor %}
        </div>
        <br><br>
        <h3>Films à l'affiche :</h3>
        <div class="grid-top-rated">
            {% for now in now_playing %}
            <ul>
                <a href="/movie/{{now.id}}">
                <li>{{ now.title }}</li>
                <img src="https://image.tmdb.org/t/p/w500{{now.poster_path}}" alt="" width="60%"></a>
            </ul>
            {% endfor %}
        </div>
        <br><br>
        <h3>Les mieux notés :</h3>
        <div class="grid-top-rated">
            {% for top in tops %}
            <ul>
                <a href="/movie/{{top.id}}">
                <li>{{ top.title }}</li>
                <img src="https://image.tmdb.org/t/p/w500{{top.poster_path}}" alt="" width="60%"></a>
            </ul>
            {% endfor %}
        </div>
        <br><br>
        <h3>Les plus populaires :</h3>
        <div class="grid-top-rated">
            {% for popular in populars %}
            <ul>
                <a href="/movie/{{popular.id}}">
                <li>{{ popular.title }}</li>
                <img src="https://image.tmdb.org/t/p/w500{{popular.poster_path}}" alt="" width="60%"></a>
            </ul>
            {% endfor %}
        </div>
        <br><br>
        <h3>Prochaines sorties :</h3>
        <div class="grid-top-rated">
            {% for upcoming in upcomings %}
            <ul>
                <a href="/movie/{{upcoming.id}}">
                <li>{{ upcoming.title }}</li>
                <img src="https://image.tmdb.org/t/p/w500{{upcoming.poster_path}}" alt="" width="60%"></a>
            </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}

