{% extends "bootstrap/base.html" %}
{% block title %}Collection{% endblock %}
{%- block styles %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../../static/styles/movieSearch.css" rel="stylesheet" type="text/css" />
    <link href="../../static/styles/navbar.css" rel="stylesheet" type="text/css" />
{%- endblock styles %}

{% block body %}
    <header class="header__main">
        <div class="header__logo">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo">
        </div>

        <div class="nav-list-container">
            <nav class="header__nav">
                <ul class="nav__list">

                    <form action="movie_search" method="POST" class="form-inline">
                        <input name="movie_title" class="form-control mr-sm-2" type="search" placeholder="Nom du film" aria-label="Search">
                        <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" type="submit">Rechercher</button>
                    </form>

                    <li class="nav__item"><a href="/">Accueil</a></li>
                    {% if session.username %}
                    <li class="nav__item"><a href="/maListe">Ma liste</a></li>
                    <li class="nav__item"><a href="/profile">Profil</a></li>
                    <li class="nav__item"><a href="/logout">Deconnexion</a></li>
                    {% else %}
                    <li class="nav__item"><a href="/register">Inscription</a></li>
                    <li class="nav__item"><a href="/login">Connexion</a></li>
                    {% endif %}   
                </ul>
            </nav>
        </div>
    </header>
    <div class="container"><br>
        <h3>Ma Collection :</h3><br>
        {{ message }}
        <div id="grid">
            {% for l in liste %}
                <ul>  
                    <a href="/movie/{{l[0]}}">
                        {% if l[1] != 'None' %}
                            <img src="https://image.tmdb.org/t/p/w500{{l[1]}}" alt="" width="60%">
                        {% endif %}
                        {% if l[1] == 'None' %}
                            <img src="{{url_for('static', filename='images/no_picture.jpg')}}" alt="" width="125%">
                        {% endif %}
                        <li>{{ l[2] }}</li>
                    </a>
                </ul>
            {% endfor %}
        </div>

    </div> 
{% endblock %}