{% extends "bootstrap/base.html" %}
{% block title %}Film{% endblock %}
{%- block styles %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../../static/styles/movie.css" rel="stylesheet" type="text/css" />
    <link href="../../static/styles/navbar.css" rel="stylesheet" type="text/css" />
{%- endblock styles %}

{% block body %}
    <header class="header__main">
        <div class="header__logo">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo">
        </div>

        <div class="nav-list-container">
            <nav class="header__nav">
                <ul class="nav__list">

                    <li class="nav__item"><a href="/">Accueil</a></li>
                    {% if session.username %}
                    <li class="nav__item"><a href="/collection">Collection</a></li>
                    <li class="nav__item"><a href="/profile">Profil</a></li>
                    <li class="nav__item"><a href="/logout">Deconnexion</a></li>
                    {% else %}
                    <li class="nav__item"><a href="/register">Inscription</a></li>
                    <li class="nav__item"><a href="/login">Connexion</a></li>
                    {% endif %}   
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="navf">
            <ul class="nav nav-tabs">
                {% for genre in genres %}
                    <li class="nav-item">
                    <a class="nav-link" href="#">{{ genre.name }}</a>
                    </li>
                {% endfor %}
            </ul> 
        </div>  

        <div class="contenu">
            <div>
                {% if image == 'None' %}
                    <img src="{{url_for('static', filename='images/no_picture.jpg')}}" class="img"  alt="">
                {% else %}
                    <img src="https://image.tmdb.org/t/p/w500{{image}}" class="img" alt="image">
                {% endif %}
            </div>
            <div class="texte">
                <h1 class="title">{{ title }}</h1>
                <p>{{ overview }}</p>
                <p> Note : <br> {{ note }} / 10</p>
                <p>Date de sortie : {{ date }}</p>
                {% if session.username %}
                    {% if message == 'False' %}
                        <form action="" method="post">
                            <button type="submit" class="addBtn" name="btn" value="add">Ajouter à ma collection</button>
                        </form>
                    {% endif %}
                    {% if message == 'True' %}
                        <form action="" method="post">
                            <button type="submit" class="addBtn" name="btn" value="del">Enlever de ma collection</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div><br>
        {% if not results == [] %}
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ results.0.key }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}
   </div>
        
{% endblock %}
