{% extends "bootstrap/base.html" %}
{% block title %}Personne{% endblock %}
{%- block styles %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../../static/styles/movie.css" rel="stylesheet" type="text/css" />
    <link href="../../static/styles/navbar.css" rel="stylesheet" type="text/css" />
{%- endblock styles %}

{% block body %}
    <header class="header__main">
        <div class="header__logo">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo">
        </div>

        <div class="nav-list-container">
            <nav class="header__nav">
                <ul class="nav__list">

                    <li class="nav__item"><a href="/">Accueil</a></li>
                    {% if session.username %}
                    <li class="nav__item"><a href="/maListe">Ma liste</a></li>
                    <li class="nav__item"><a href="/profile">Profil</a></li>
                    <li class="nav__item"><a href="/logout">Deconnexion</a></li>
                    {% else %}
                    <li class="nav__item"><a href="/register">Inscription</a></li>
                    <li class="nav__item"><a href="/login">Connexion</a></li>
                    {% endif %}   
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        
        <div class="navf">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ gender }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ job }}</a>
                </li>
            </ul> 
        </div> 

        <div class="contenu">
            <div>
                {% if image == 'None' %}
                    <img src="{{url_for('static', filename='images/no_picture.jpg')}}" class="img"  alt="">
                {% else %}
                    <img src="https://image.tmdb.org/t/p/w500{{image}}" class="img" alt="image">
                {% endif %}
            </div>
            <div class="texte">
                <h1 class="title">{{ name }}</h1>
                <p>{{ biography }}</p>
            </div>
        </div><br>

        {% if not film == [] %}
        <h3 style="color:white;">Films</h3>
        <div id="div-scroll">
            <div id="scrollmenu">
                {% for film in films %}
                    <img src="https://image.tmdb.org/t/p/w500{{ film.poster_path }}" style="color:white;" class="movie" alt="{{ film.title }}" onclick="location.href='/movie/{{ film.id }}'">
                {% endfor %}
            </div>
        </div>
        {% endif %} 
        <br><br>
   </div>

        
{% endblock %}
