<!DOCTYPE html>
<html lang="fr">
	<head>
        <title>Register</title>
        <link rel="icon" type="image/png" href="{{url_for('static', filename='images/logo2.png')}}" />
        <!-- <link href="../../static/styles/index.css" rel="stylesheet" type="text/css" /> -->
    </head>
    <body>
        <form action="" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirm" placeholder="Confirm Password">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>